<div class="container">
  <div class="row w-100">
    <div class="col-md-12">
      <mat-toolbar color="primary"><span>{{title}}</span></mat-toolbar>
      <mat-divider [inset]="true"></mat-divider>
    </div>
    <div class="col-md-12 text-center">
      <cdk-virtual-scroll-viewport itemSize="20" class="w-100 cdk-viewport-style">
        <mat-card *cdkVirtualFor="let url of urls; let idx = index;" class="order-card">
          <mat-card-header>
            <mat-card-title>
              {{(idx + 1) + ' - ' + url.url }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="row w-100">
              <div class="col-md-12 text-center mat-h4">Short Url: {{ url.shortUrl }}</div>
              <div class="col-md-12 text-center mat-h4">Visits {{ url.visits }}</div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-mini-fab (click)="goToShortenedUrlSite(url.shortUrl)" color="primary">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>



