<div class="container">
  <div class="row w-100">
    <div class="col-md-12">
      <mat-toolbar color="primary" style="margin: 5% 0 0 0"><span>{{title}}</span></mat-toolbar>
      <mat-divider [inset]="true" style="margin: 0 0 5% 0"></mat-divider>
    </div>
    <div class="col-md-12">
        <table cdk-table [dataSource]="dataSource">

          <ng-container cdkColumnDef="no">
            <th cdk-header-cell *cdkHeaderCellDef> No. </th>
            <td cdk-cell *cdkCellDef="let idx = index"> {{(idx+1)}} </td>
          </ng-container>

          <ng-container cdkColumnDef="url">
            <th cdk-header-cell *cdkHeaderCellDef> Url </th>
            <td cdk-cell *cdkCellDef="let url"> {{url.url}} </td>
          </ng-container>

          <ng-container cdkColumnDef="title">
            <th cdk-header-cell *cdkHeaderCellDef> Title </th>
            <td cdk-cell *cdkCellDef="let url"> {{url.title}} </td>
          </ng-container>

          <ng-container cdkColumnDef="visits">
            <th cdk-header-cell *cdkHeaderCellDef> Visits </th>
            <td cdk-cell *cdkCellDef="let url"> {{url.visits}} </td>
          </ng-container>

          <ng-container cdkColumnDef="shortUrl">
            <th cdk-header-cell *cdkHeaderCellDef> Short Url </th>
            <td cdk-cell *cdkCellDef="let url"> {{url.shortUrl}} </td>
          </ng-container>

          <ng-container cdkColumnDef="goTo">
            <th cdk-header-cell *cdkHeaderCellDef> Go to </th>
            <td cdk-cell *cdkCellDef="let url">
              <button mat-icon-button (click)="goToShortenedUrlSite(url.shortUrl)" color="primary">
                <mat-icon>open_in_new</mat-icon>
              </button> </td>
          </ng-container>

          <!-- Header and Row Declarations -->
          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
  </div>
</div>



